main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    align-items: center;
    margin-bottom: 50px;
    background-color: red;

}
#one{
    width: 500px;
    height: 60px;
    background-color: #DEB887;
    border-bottom: solid 10px #D3A15F;
    border-radius: 60px 60px 20px 20px;
}
#two, #five, #four{
    width: 550px;
    height: 20px;
    box-sizing: border-box;
    background-color: #FFD700;
    border-bottom: 5px solid #DAA520;
}
#three{
    width: 350px;
    height: 35px;
    box-sizing: border-box;
    background-color: #FF0000;
    border-bottom: 5px solid #DC143C;
}
#six, #ten, #eleven{
    width: 400px;
    height: 35px;
    box-sizing: border-box;
    background-color: #CC6633;
    border-radius: 50px;
    border-bottom: 5px solid #993300;
}
#seven{
    width: 300px;
    height: 30px;
    background-color: #800080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#seven .circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #DDA0DD;
}
#eight{
    width: 210px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#eight .circle{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #A52A2A;
}
#nine{
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    background-color: #90EE90;
    border-bottom: 15px solid #008000;
    border-radius: 0px 0px 60px 60px;
}
#twelve{
    width: 500px;
    height: 40px;
    background-color: #DEB887;
    border-top: solid 10px #D3A15F;   
    border-radius: 20px 20px 60px 60px;
}
#thirteen{
    width: 650px;
    height: 25px;
    box-sizing: border-box;
    background-color: #C0C0C0;
    border-top: 7px solid  #A2A2A2;
    border-radius: 0px 0px 20px 20px;
}